@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

p{
    color: white;
}

body{
    background-color: #141B41;
    font-family: "Bebas Neue";
}

li a{
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.3s;
}

#navlist{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}

#home{
    font-family: "Bebas Neue";
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    transition-duration: 0.3s;
    color: rgb(255, 255, 255);
}

#home:hover{
    cursor: default;
    font-size: 2.2em;
    color: #7b71ff;
    text-shadow: 2px #7b71ff;
}

.nav-links{
    display: flex;
    gap: 20px;
    transition: 1s;
}

li a:hover{
    color: #7b71ff;
    font-size: 1.6rem;
}

body{
    /* színek: 
    rasberry rose: #AA4465
    beige: edf0da  
    vanilla: f0dfad
    raw umber: 8f5c38
    */
}

#navbar{
    display: flex;
    align-items: center;
    background-color: #306BAC;
    height: 50px;
    width: 100%;
}

#navlist{
    align-items: center;
    gap: 30px;
    list-style: none;
}
header{
    width: 95%;
    height: 250px;
    background-color: #306BAC;
    margin: 30px 0px;
    border-radius: 30px;
    padding: 30px;
    display: block;
    font-family: "Bebas Neue";
    transition-duration: 0.3s;
    border-top: 5px solid #98B9F2;
}

#leiras{
    width: 85%;
    height: 250px;
    background-color: #6F9CEB;
    margin: 30px 0px;
    border-radius: 30px;
    padding: 30px;
    display: block;
    font-family: "Bebas Neue";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2{
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hatekonysag{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
#tarigeny{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.szoveg_1{
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    height: 500px;
    width: 850px;
    background-color: #6F9CEB;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    margin: 20px;
}

.kep_1{
    max-width: 40%;
    min-width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 8px solid #6F9CEB;
}

.kep_1:hover{

}

hr{
    color: #6F9CEB;
}

footer{
    width: 100%;
    height: 120px;
    background-color: #6F9CEB;
    margin-top: 50px;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

footer h2{
    color: white;
    font-weight: lighter;
}

.szoveg_h2{
    margin-bottom: 20px;
}

.dropdown {
    display: none; /* Alapértelmezetten elrejtve */
}

.dropdown{
    max-width: 150px;
    height: 35px;
    cursor: pointer;
    display: none;
}
select{
    background-color: #306BAC;    
    font-family: "Bebas Neue";
    width: 100%;
    border: solid 2px #6F9CEB;
    cursor: pointer;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    box-shadow: 0 5px 5px #6F9CEB;
    text-align: start;
    color: white;
}

select:hover{

}

option{
    color: white;
}

.dropdown{
    position: relative;
}

.responsive_text{
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}

#szemleltetes{
    margin-top: 50px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 100%;
    background-color: #98B9F2;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.szemleltetes_elemek{
    max-width: 400px;
    height: 600px;
    background-color: #89B6A5;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    margin: 20px 20px;
}

.elem_2{
    max-width: 250px;
    flex-wrap: wrap;
    text-align: center;
}

.kep_2{
    max-width: 40%;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

@keyframes glow {
  0% {
    border-color: red;
  }
  25% {
    border-color: blue;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: purple;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: red;
  }
  25% {
    border-color: blue;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: purple;
  }
}



@media (max-width: 1643px){
    #szemleltetes{
        height: 800px;
        padding: 0px;
    }
}

@media (max-width: 1543px){
    #szemleltetes{
        height: 1600px;
    }
}

@media (max-width: 1200px){
    .responsive_text{
        font-size: 1rem;
    }
}

@media (max-width: 1090px){
    .responsive_text{
        font-size: 0.95rem;
    }
}

@media (max-width: 1040px){
    .szoveg_1 p{
        font-size: 0.92rem;
    }
    footer{
        height: 200px;
    }
}

@media (max-width: 900px){
    #hatekonysag{
        flex-wrap: wrap;
        height: 1000px;            
    }
    #tarigeny{
        flex-wrap: wrap;
        height: 1000px;
    }
    header{
        font-size: 0.8rem;
    }
    .szoveg_1{
        height: 400px;
        width: 750px;
    }

    #leiras{
        font-size: 0.8rem;
    }
    .responsive_text{
        font-size: 0.9rem;
    }
}

@media(max-width: 771px){
    #szemleltetes{
        height: 2800px;
    }
}

@media (max-width: 600px) {
    header{
        font-size: 0.8rem;
    }
    .nav-links {
        display: none; /* Rejtjük a listát kisebb képernyőkön */
    }
    .dropdown {
        display: block; /* Megjelenítjük a select elemet */
        justify-content: space-evenly;
        align-items: center;
    }
    .responsive_text{
        font-size: 0.85rem;
    }
}

@media (max-width: 540px){
    .kep_1{
        min-width: 300px;
    }
    #hatekonysag{
        flex-wrap: wrap;
        height: 850px;            
    }
    #tarigeny{
        flex-wrap: wrap;
        height: 850px;
    }
    .szoveg_1{
        height: 500px;
        padding: 20px;
    }
}

@media(max-width: 500px){
    .szemleltetes_elemek{
        min-width: 300px;
    }
    header{
        height: 300px;
    }
}

@media(max-width: 375px){
    .kep_2{
        max-width: 250px;
    }
    footer{
        height: 250px;
    }
    #leiras{
        height: 400px;
    }
    header{
        height: 335px;
    }
}

@media (max-width: 340px){
    .kep_1{
        min-width: 280px;
    }
    .kep_2{
        min-width: 280px;
    }
    .szemleltetes_elemek{
        min-width: 280px;
    }
}

@media (max-width: 330px) {
    header{
        height: 360px;
    }
    .szoveg_1{
        height: 520px;
    }
    .kep_2{
        min-width: 250px;
    }
}

/* Kell a leírás és eredmények formázása */ 